<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Food Order Website | Food Template Design | Best Food Order Website Design | Responsive Template Design | Flex Food Website Design</title>    
    <meta name="description" content="The food order website is developed by html, css coding used to develope it and fully responsive website design with flex concept used in the website design model for develop or create the any template or website create quickly and more user friendly for the developer or designer easy to customize the food order website or new template designs." />
  
  <meta name="keywords" content="codingwithssr, Free food order website, Food order website ideas, Food order website examples, Best food order website, order food online chennai 24 hours, food order online chennai, food order online tamilnadu, zomato online order chennai, food delivery apps in chennai, Food website templates word, Food website templates html css, Food website templates html, food website templates free download, simple food website templates free, food website templates bootstrap, food website templates figma, food website templates free download html with css
" />
  
  <meta name="author" content="https://codepen.io/codingwithssr" />
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KL9C7XQPJP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-KL9C7XQPJP');
</script>
<!-- Google tag (gtag.js) this script for promote the code in google analytics-->
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3N8GX9J');</script>
<!-- End Google Tag Manager -->
  </head>
  <style>
    .nav {
   display:flex; 
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-between;
  background:#ffff;
  font-family:'poppins', sanserif;
}
a{
  text-decoration:none;
  padding:15px 18px;
  font-size:14px;
  color:#000;  
}
.logos, .logo{
  padding:10px;
}
input{
  font-family:'poppins', sanserif;
  padding:8px;
  height:20px;
  width:20%;
  border:none;
  border-radius:5px;
  background:#ddd;
}
.Tdiv{
  font-family:'poppins', sanserif;
  padding:30px;
  background:linear-gradient(360deg,#9494dd,#fffc);
  text-align:center;
  border-bottom-left-radius:40px;
  border-bottom-right-radius:40px;
}
.sub{
   display:flex;  
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  padding:12px;
}
.Lcard{
  font-family:'poppins', sanserif;
  display:flex;  
  flex-direction:column;
  width:219px;  
  height:260px;
  margin:8px;
  background:#ffff;
  border-radius:20px;
}
img{  
  height:146px;
  overflow:hidden;
  object-fit:cover;
  width:100%;
  border-radius:20px;
}
.desc{
  display:flex;
  flex-direction:column;
  padding:10px;
  
}
.footer{
  font-family:'poppins', sanserif;
  text-align:center;
  background:#dddd;
  padding:10px;
}
  </style>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3N8GX9J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) this script for promote the code in google -->
   
<div class="container">
   <div class="nav">
     <div class="logo">
     <img src="https://previews.123rf.com/images/gepeng/gepeng1612/gepeng161200114/68896687-indian-food-logo-vector-illustration.jpg" alt="Food Logo">
     </div>
     <div class="logos">

     <a href="">About </a>  
     <a href="">Contact Us</a>
     <a href="/register">SingUp</a>
     <a href="/login">Login</a>
     </div>
  </div>
  <div class="Tdiv">
    <h1>Delicious Food !</h1>
    <p>Don't Miss it</p>
  </div>
  <div class="sub">
  <div class="Lcard">
    <img src="https://images.pexels.com/photos/2396220/pexels-photo-2396220.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    <div class="desc">
      <h3>Cafe Coffee Day</h3>
      <span>Cafe Coffee Day</span>
    </div>
  </div>
    <div class="Lcard">
    <img src="https://images.pexels.com/photos/8969237/pexels-photo-8969237.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    <div class="desc">
      <h3>Biriyani Fresh</h3>
      <span>Biriyani Fresh</span>
    </div>
  </div>
    <div class="Lcard">
    <img src="https://images.pexels.com/photos/8743917/pexels-photo-8743917.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load">
    <div class="desc">
      <h3>Delicious Put</h3>
      <span>stuff</span>
    </div>
  </div>
    <div class="Lcard">
    <img src="https://images.pexels.com/photos/4393021/pexels-photo-4393021.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    <div class="desc">
      <h3>French Frries</h3>
      <span>Cafe Coffee Day</span>
    </div>
  </div>
  </div>
    <div class="sub">
  <div class="Lcard">
    <img src="https://images.pexels.com/photos/7441761/pexels-photo-7441761.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    <div class="desc">
      <h3>Cafe Coffee Day</h3>
      <span>Cafe Coffee Day</span>
    </div>
  </div>
    <div class="Lcard">
    <img src="https://images.pexels.com/photos/5774799/pexels-photo-5774799.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load">
    <div class="desc">
      <h3>Biriyani Fresh</h3>
      <span>Biriyani Fresh</span>
    </div>
  </div>
    <div class="Lcard">
    <img src="https://images.pexels.com/photos/7065666/pexels-photo-7065666.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load">
    <div class="desc">
      <h3>Delicious Put</h3>
      <span>stuff</span>
    </div>
  </div>
    <div class="Lcard">
    <img src="https://images.pexels.com/photos/5112522/pexels-photo-5112522.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load">
    <div class="desc">
      <h3>French Frries</h3>
      <span>Cafe Coffee Day</span>
    </div>
  </div>
  </div>
  
    <div class="sub">
  <div class="Lcard">
    <img src="https://images.pexels.com/photos/674574/pexels-photo-674574.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    <div class="desc">
      <h3>Cafe Coffee Day</h3>
      <span>Cafe Coffee Day</span>
    </div>
  </div>
    <div class="Lcard">
    <img src="https://images.pexels.com/photos/9567078/pexels-photo-9567078.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load">
    <div class="desc">
      <h3>Biriyani Fresh</h3>
      <span>Biriyani Fresh</span>
    </div>
  </div>
    <div class="Lcard">
    <img src="https://images.pexels.com/photos/764925/pexels-photo-764925.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load">
    <div class="desc">
      <h3>Delicious Put</h3>
      <span>stuff</span>
    </div>
  </div>
    <div class="Lcard">
    <img src="https://images.pexels.com/photos/3233284/pexels-photo-3233284.jpeg?auto=compress&cs=tinysrgb&w=600">
    <div class="desc">
      <h3>French Frries</h3>
      <span>Cafe Coffee Day</span>
    </div>
  </div>
  </div>
 <div class="footer">
   <span>@copyright 2024</span>
  </div>
  
</div>
      
    </body>
    </html>